@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/* 전체설정 */

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: bottom;
}

/* 레이아웃설정 */

header {
}

/* header설정 */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}

header em {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50px;
  background-color: yellow;
  z-index: 999;
}

header nav {
  display: flex;
  width: 700px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 8%;
  font-family: "Black Han Sans", sans-serif;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

header nav ul li {
  margin-right: 10px;
  padding: 20px;
  background-color: yellow;
  background-size: contain;
}

header h1 {
  width: 250px;
  height: 140px;
  padding: 50px 0;
  display: flex;
  background-image: url(../img/logo.png);
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* 섹션설정 */
#wrap {
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* 섹션구간 레이아웃설정 */

section:nth-child(1) {
  background-color: red;
}
section:nth-child(2) {
  background-color: #ccc;
}
section:nth-child(3) {
  background-color: #bbb;
}
section:nth-child(4) {
  background-color: #aaa;
}
section:nth-child(5) {
  background-color: #999;
}
section:nth-child(6) {
  background-color: #888;
}
section:nth-child(7) {
  background-color: #777;
}

/* hero설정 */

section:nth-child(1) {
  width: 100%;
  height: 100vh;
  position: relative;
}

section:nth-child(1) article video {
  width: 100%;
  height: 100%;
}

section:nth-child(1) article > div {
  position: absolute;
  width: 60%;
  height: 70%;
  top: 30%;
  right: 0;
  background-image: url(/img/hero_main.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  z-index: 999;
}

/* 회사소개설정 */

section:nth-child(2) {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}

section:nth-child(2) > img {
  position: absolute;
  width: 388px;
  height: 233px;
  top: 20px;
  left: -60px;
  z-index: 3;
  transform: rotate(-40deg);
}

section:nth-child(2) h2 {
  position: relative;
  font-size: 30px;
  margin-top: 120px;
  font-family: "Black Han Sans", sans-serif;
  padding-left: 200px;
  padding-top: 20px;
}

section:nth-child(2) h2 span {
  font-size: 40px;
  color: red;
}

section:nth-child(2) article {
  background-color: firebrick;
  width: 100%;
  height: 65%;
  display: flex;
  position: relative;
}

section:nth-child(2) article ul {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

section:nth-child(2) article ul li:nth-child(1) {
  position: absolute;
  width: 50%;
  height: 100%;
  left: -100px;
  background-color: #fff;
  transform: skewX(30deg) translateX(-85px);
  overflow: hidden;
  z-index: 2;
  border: 1px solid #000;
  box-sizing: border-box;
}

section:nth-child(2) article ul li:nth-child(1) p {
  transform: skewX(-30deg);
  display: flex;
  width: 70%;
  height: 100%;
  margin-left: 200px;
  justify-content: center;
  align-items: center;
  font-family: "Black Han Sans", sans-serif;
  font-size: 25px;
}

section:nth-child(2) article ul li:nth-child(2) {
  position: absolute;
  width: 70%;
  display: flex;
  right: 0;
  height: 100%;
  background-image: url(/img/nin/animal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  text-indent: -9999px;
}

/* 마리오소개설정 */

section:nth-child(3) {
  background-color: wheat;
}

section:nth-child(3) h2 {
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif;
  padding: 40px;
}
section:nth-child(3) article {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 80%;
}

section:nth-child(3) article em {font-size: 50px;}

section:nth-child(3) article ul {
  display: flex;
  width: 100%;
  height: 40%;
  
  justify-content: center;
align-items: center;
}

section:nth-child(3) article .mario {
    background-color: red;
    margin: 40px 0;
  }
  
  section:nth-child(3) article .luige {
    background-color: green;
  }

  section:nth-child(3) article ul li {
    width: 50%;
    height: 30%;
  }

section:nth-child(3) article .mario li:nth-child(1) {
  background-image: url(/img/info/mario1.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  padding-right:100px;
  width: 400px;
height: 600px;
}

section:nth-child(3) article .mario li:nth-child(2) {
    display: flex;
    font-size: 30px;
    font-family: "Black Han Sans", sans-serif;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    color: #fff;
    
  }


  section:nth-child(3) article .luige li:nth-child(1) {
    display: flex;
    font-size: 30px;
    font-family: "Black Han Sans", sans-serif;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    color: #fff;
    
  }


section:nth-child(3) article .luige li:nth-child(2) {
    background-image: url(/img/info/luigi1.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 400px;
height: 600px;
  }



/* 히스토리설정 */

section:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
    position: relative;}

  section:nth-child(4) article {}

  section:nth-child(4) article img {position: absolute;
    width: 325px;
    height: 276px;
  left: 50%;
  top: 50%;}

  section:nth-child(4) article 
/* section:nth-child(4) .maker {width: 750px;
                            height: 552px;
                            top: 0;
                            left: 25%;
                            position: absolute;} */

section:nth-child(4) article {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

section:nth-child(4) article div>div {
    width: 80%;
    height: 400px;
    display: flex;
  background-color: blue;

}

/* 갤러리설정 */

/* section:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
    position: relative;}

section:nth-child(5)>div {width: 80%;
                        height: 80%;
                        background-color: red;}

section:nth-child(5):after {display: block;
                                content: "";
                                clear: both;}

section:nth-child(5) h2 {
  font-size: 40px;
  top: 10%;
  left: 10%;
  letter-spacing: 20px;
  padding-right: 150px;
  position: absolute;
}

section:nth-child(5) article {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 15%;
  top: 15%;
  float: left;
}

section:nth-child(5) article div:nth-child(1) {width: 50%;
    height: 30%;
    background-image: url(/img/);
background-color: #999;}
section:nth-child(5) article div:nth-child(2) {width: 50%;
background-color:  #888;
    height: 30%;}
section:nth-child(5) article div:nth-child(3) {width: 50%;
background-color: #777;
    height: 30%;}
section:nth-child(5) article div:nth-child(4) {width: 50%;
background-color: #666;
height: 30%;}
section:nth-child(5) article div:nth-child(5) {width: 50%;
background-color: #555;
height: 30%;}

section:nth-child(5) article div:nth-child(6) {width: 50%;
background-color: #444;
height: 30%;} */




/* 시리즈설정 */

section:nth-child(6) {height: 400vh;}

section:nth-child(6) h2 {margin : 40px 0;
                        font-size: 40px;
                        background-color: red;
                        font-family: "Black Han Sans", sans-serif;}

section:nth-child(6) article {width: 100%;
  height: 70vh;
  margin-bottom: 50px;
}


section:nth-child(6) article:nth-child(2) ul {width: 100%;
  height: 50vh;
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: end;
  position: relative;
}
section:nth-child(6) article:nth-child(2) ul li {width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;}

  section:nth-child(6) article:nth-child(2) ul li:nth-child(1) img {width: 675px;
  height: 324px;
  padding-bottom: 100px;}

  section:nth-child(6) article:nth-child(2) ul li:nth-child(2) {}

  section:nth-child(6) article:nth-child(2) ul li:nth-child(2) img {width: 216px;
    height: 351px;
    position: absolute;
    top: 0;}

    section:nth-child(6) article:nth-child(2) ul li:nth-child(2) p {
      margin-top: 70px;
      text-align: left;
    } 


  section:nth-child(6) article:nth-child(2) ul li:nth-child(1) {}


section:nth-child(6) article:nth-child(3) {height: 100%;
  background-color: red;
  height: 70vh;}
section:nth-child(6) article:nth-child(3) {height: 100%;
  height: 70vh;
}
section:nth-child(6) article:nth-child(4) {height: 100%;
  height: 70vh;
}
section:nth-child(6) article:nth-child(5) {height: 100%;
  height: 70vh;
}
section:nth-child(6) article:nth-child(6) {height: 100%;
  height: 70vh;
}


section:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
 position: relative;}

 section:nth-child(5) h2 {position: absolute;
top: 15%;
left: 15%;}

.container {display: flex;
  width: 70%;
  margin: auto;
  overflow: hidden;
  background-color: red;
  padding: 50px;
}
.images {
  width: 100%;
  height: auto;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-auto-flow: row dense;
  }
  .imageFlex1 {
    display: grid;
    row-gap: 20px;
    margin-top: 10px;
  }
  .imageFlex2 {
    display: grid;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .imageFlex3 {
    display: grid;
    row-gap: 20px;
    margin-top: 40px;
  }
}

/* footer */

footer {width: 100%;
        height: 300px;}