@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/* 전체설정 */


@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: bottom;
}
body {overflow-x: hidden;}

/* 레이아웃설정 */

header {
}

/* header설정 */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #000;
  position: relative;
}

header em:nth-child(1) {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50px;
  background-image: url(../img/header/block_blank3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 5;
  cursor: pointer;
  transition: all 0.8s
}

header em:nth-child(2) {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50px;
  background-image: url(../img/header/block_X.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 4;
  cursor: pointer;
  transition: all 0.8s
}

header em:hover {transform: scale(1.2);}

header nav {
  display: none;
  width: 700px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 8%;
  font-family: "Black Han Sans", sans-serif;
  z-index: 10;
  opacity: 0;
  transition: all 0.2s linear;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

header nav ul li {
  margin-right: 10px;
  padding: 20px;
  background-image: url(../img/header/block_blank_long.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all 0.2s linear;
}
header nav ul li:hover {transform: scale(1.2);}

header h1 {
  width: 250px;
  height: 140px;
  padding: 50px 0;
  display: flex;
  background-image: url(../img/logo.png);
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* nav변환모습 */

header nav.on {
  opacity: 1;}


/* 섹션설정 */
#wrap {
}


#wrap .bg {position: fixed;
              width: 65%;
              height: 100%;
              right: 0;
              top: 0;
            background-image: url(../img/sub_his/mario_red_pc.jpg);}



#wrap section {
  width: 100%;
  position: relative;
}
.s1985 {position: relative;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      border-left: 10px solid #fff;}

.years1 {position: relative;
        width: 35%;}

.s {position: sticky;
  top: 20px;}

.h {position: absolute;
  top: 0;
  left: 0;
  font-size: 200px;
  color: #aaa;}

.y {font-family: 'League Spartan', sans-serif;
    font-weight: bold;}

.text {width: 65%;
      display: flex;
      padding: 60px;}

.date {width: 23%;
      flex: none;
      font-family: 'League Spartan', sans-serif;
      color: #fff;
      font-size: 40px;
      font-weight: bold;}

.title {}

.title p {font-size: 20px;
  font-family: 'League Spartan', sans-serif;
  color: #fff;
  line-height: 30px;}

  .title span {font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: bold;}

/* footer */

/* footer {width: 100%;
        height: 300px;
        background-color: red;}

footer section {width: 100%;
              height: 150px;}

footer section:nth-child(1) {width: 100%;
  background-color: #fff;
  position: relative;}



footer section:nth-child(1) img:nth-child(1) {position: absolute;
                                left: -100px;
                                bottom: 0;
                                width: 64px;
                                height: 64px;
                                animation: ani 10s linear infinite;}

footer section:nth-child(1) img:nth-child(2) {position: absolute;
                                left: -100px;
                                bottom: 0;
                                width: 48px;
                                height: 48px;
                                animation: ani 14s linear infinite;}

footer section:nth-child(1) img:nth-child(3) {position: absolute;
                                left: -100px;
                                bottom: 0;
                                width: 64px;
                                height: 64px;
                                animation: ani 6s linear infinite;}

footer section:nth-child(1) img:nth-child(4) {position: absolute;
                                left: -100px;
                                bottom: 0;
                                width: 80px;
                                height: 80px;
                                animation: ani 8s linear infinite;}

footer section:nth-child(1) img:nth-child(5) {position: absolute;
                                left: -100px;
                                bottom: 0;
                                width: 100px;
                                height: 120px;
                                animation: ani 18s linear infinite;
                                transform: scaleX(-1);} */

@keyframes ani {
  0% {left: -100px;}
  100% {left: 100%;}

}