@charset 'utf-8';

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  width: 100%;
  height: 4000px;
  min-width: 1400px;
  background-color: #ddd;
}

h1 {
  position: fixed;
  font-size: 50px;
  right: 20px;
  top: 20px;
}

nav {
  position: fixed;
  left: 20px;
  top: 20%;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
nav ul li:hover {
  color: #000;
}

aside {
  position: fixed;
  left: 40%;
  top: 20%;
}
aside ul {
  display: flex;
}
aside ul li {
  margin-right: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
aside ul li:hover {
  color: #000;
}

section {
  position: fixed;
}

article {
  width: 180px;
  height: 60vh;
  margin: 10px;
  background-color: #fff;
  float: left;
  box-shadow: 5px 5px 5px #000;
  opacity: 0.6;
  transition: all 0.8s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

article strong {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 300px;
  opacity: 0.4;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}

article strong img {height:300px; width:auto;}

article:hover {
  opacity: 1;
}

article h2 {
  background-color: wheat;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  transition: text-shadow 0.8s;
  position: absolute;
  width: 100%;
  bottom: 100px;
  height: 50px;
  z-index: 10;
}

article h2:hover {
  text-shadow: 10px 10px 0 red;
  box-shadow: 10px 10px 0 red;
}

/*포폴 썸네일*/
article strong {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 300px;
  opacity: 0.4;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}
article:hover strong {
  opacity: 1;
}
article strong img {
  height: 300px;
  width: auto;
}

/*포폴 이미지*/
article p {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 1;
  margin-top: 0px;
  width: 100%;
  height: 0px;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  transition: all 0.8s;
}
article p img {
  width: auto;
  height: 100%;
}

/*포폴 설명*/
article em {
  position: absolute;
  bottom: 50px;
  right: -300px;
  z-index: 2;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  transition: all 1s;
}

/*닫기버튼*/
section span {
  position: absolute;
  top: 110px;
  right: -300px;
  z-index: 3;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/*copyright*/
.copyright {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font: 12px/1.5 arial;
  letter-spacing: 4px;
  color: #999;
  text-align: center;
}

/*클릭시 변형된 모습*/
article.on {
  width: 780px;
  height: 500px;
  margin-top: -250px;
}
article.on h2 {
  top: 100px;
  height: 100px;
  background: #111;
  opacity: 0.3;
}
article.on h2 a {
  font-size: 30px;
  color: #fff;
}
article.on strong {
  opacity: 0;
}
article.on p {
  height: 500px;
  margin-top: -250px;
  opacity: 1;
}
article.on em {
  right: 20px;
}
article.on span {
  right: 20px;
}
