@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/* 전체설정 */

* {margin: 0;
padding: 0;}
ul, ol, li {list-style: none;}
a {text-decoration: none;
color: #000;}
img {border: none;
    vertical-align: bottom;}
    body {position: fixed;
        width: 100%;
    height: 100%;
overflow: auto;}

header {
    position: fixed;
    width: 60%;
    left: 25%;
    top: 50%;
    height: 100px;
    margin-top: -150px;
    z-index: 10;
    transition: all 1.2s;

}
        header nav {margin-top: 150px;}
        header nav ul {display: flex;
                    justify-content: center;
                    background-color: red;
                    border-radius: 15px;}
        header li {width: 400px;
                    padding: 20px 0;
                color: #fff;
                font-size: 40px;
                margin-left: 20px;
                font-style: normal;
                font-family: "Black Han Sans", sans-serif;
                text-align: center;}

                header.on {top:3%}

        header li:hover {color: #000;}

header .back a {background-image: url(../img/logo.png);
            background-size: contain;
            position: fixed;
            background-repeat: no-repeat;
            width: 206px;
            height: 144px;
            right: 20px;
            top: 15px;}

            /* section설정 */
            .subMenu {display: none;}
.skillMenu {display: none;}


section {position: fixed;
        width: 100%;
        height: 100%;
    z-index: 1;
    background-image: url(/img/sub_odyssey/sec_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;}
section article {position: absolute;
width: 100%;
height: 100%;
transition: all 0.8s;}


/* 메인페이지 설정 */
article:nth-child(1){background-image: url(../img/sub_odyssey/bg01.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;

                    left: 0%;
                    top: -100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;}

article:nth-child(1) h1 {position: absolute;
                        background-image: url(../img/sub_odyssey/odyssey_logo.png);
                        background-size: cover;
                        text-indent: -9999px;
                        width: 500px;
                        height: 311px;
                        left: 30px;
                        top: 30px;
                        z-index: 1;}

article:nth-child(1) .mario {background-image: url(/img/sub_odyssey/chara01.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                            width: 874px;
                            height: 786px;
                            }

article:nth-child(1) p {position: absolute;
                        right: 10%;
                        bottom: 20%;
                        width: 300px;
                        height: 100px;
                        font-size: 30px;
                        color: #fff;
                        font-family: "Black Han Sans", sans-serif;
                        }

article:nth-child(1) button {width: 250px;
                            height: 100px;
                            position: absolute;
                            right: 12%;
                            bottom: 15%;
                            background-color: #fff;
                            color: #ff0000;
                            border: 2px solid #ff0000;
                            font-size: 40px;
                            border-radius: 15px;
                        font-family: "Black Han Sans", sans-serif;}

article:nth-child(1) button:hover {background-color: #ff0000;
                                border: 2px solid #fff;
                                color: #fff;}

/* 세계를 여행하다 아티클 설정 */

article:nth-child(2){background-image: url(../img/sub_odyssey/bg02.jpg);
                background-size: cover;
                left:100%;
                top:-100%;
                width: 100%;
                display: block;}

article:nth-child(2) p {width: 100%;
border-bottom: 5px solid #fff;
font-size: 50px;
color: #fff;
font-weight: bold;
font-family: 'inter', sans-serif;
margin-top: 7%;
padding-left: 5%;}

article:nth-child(2) .img1 {background-image: url(/img/sub_odyssey/img1.jpg);
                            width: 621px;
                            height: 343px;
                            float: right;
                            transform: rotate(-30deg);
                            border: 5px solid #fff;}

article:nth-child(2) .img2 {background-image: url(/img/sub_odyssey/img2.jpg);
    width: 621px;
    height: 343px;
    float: left;
    transform: rotate(30deg);
    margin-top: 10%;
    border: 5px solid #fff;}


article:nth-child(2) .img3 {background-image: url(/img/sub_odyssey/img3.png);
    width: 884px;
    height: 542px;
    float: left;}

    article:nth-child(2) .img4 {background-image: url(/img/sub_odyssey/ody_wed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 975px;
    height: 486px;
    left: 3%;}

    article:nth-child(2) span {width: 50%;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
        font-family: 'inter', sans-serif;
        position: absolute;
        text-align: center;
        padding: 20px;
        right: 5%;
        bottom: 20%;
        text-shadow: 1px 1px #000;

        border-radius: 15px;
        line-height: 50px;}

        /* 새로운동료 아티클 설정 */

article:nth-child(3){background-image: url(/img/sub_odyssey/bg03.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
left: -100%;
width: 100%;
height: 100vh;
top: 100%;
display: flex;}

article:nth-child(3) .cappy {background-image: url(/img/sub_odyssey/cappy_coaster.png);
background-size: contain;
background-repeat: no-repeat;   
background-position: center center;
width: 25%;
height: 60%;
margin: 50px;}

article:nth-child(3) .throw {background-image: url(/img/sub_odyssey/capture.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 445px;
    height: 448px;
    left: 25%;
    bottom: 10%;
    z-index: 1}

    article:nth-child(3) .capture {background-image: url(/img/sub_odyssey/action.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 445px;
        height: 448px;
        margin-left: 50px;
        position: absolute;
        right: 5%;
        bottom: 5%;}


    article:nth-child(3) .cont {margin-top: 220px;
                                margin-left: 200px;
                                width: 45%;
                                height: 60%;
                                transform: rotate(-10deg);
                                z-index: 3;}


    article:nth-child(3) .cont .arrow-L {top: 35%;
        left: 10px;
    position: absolute;
    transform: rotate(10deg);}

    article:nth-child(3) .cont .arrow-L img {display: block;
    width: 100%;
    height: auto;}

    article:nth-child(3) .cont .arrow-L img:hover {filter: invert(100%);}

    article:nth-child(3) .cont .arrow-R {right: 10px;
    top: 30%;
    position: absolute;
    transform: rotate(10deg);}

    article:nth-child(3) .cont .arrow-R img:hover {filter: invert(100%);}

        article:nth-child(3) .action {width: 801px}

        article:nth-child(3) .action li {width: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;}

    article:nth-child(3) .action li img {display: block;
                                        width: 100%;
                                        height: auto;}

    article:nth-child(3) .action li.on {opacity: 1;}


    article:nth-child(3) .info {position: absolute;
                            background-color: #fff;
                            font-size: 25px;
                            border-radius: 15px;
                            padding: 30px;
                            width: 25%;
                            height: 30%;
                            font-family: "Black Han Sans", sans-serif;
                            left: 5%;
                            bottom: 4%;
                            line-height: 40px;}

    article:nth-child(3) .info strong {font-size: 40px;
    line-height: 70px;}

/* 소개영상 설정 */

article:nth-child(4){background-image: url(/img/sub_odyssey/bg4.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
left: 100%;
top: 100%;
display: flex;
justify-content: center;
align-items: center;}

article.on {left: 0;
top: 0;}