@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */

* {margin: 0;
    padding: 0;}

ul, ol {list-style: none;}

a {color: #000;
    text-decoration: none;}

img {border: none;
    vertical-align: bottom;}

    body {font-family: 'Nanum Gothic', sans-serif;
        font-size: 14px;}


/* 미디어쿼리설정 */

/* 768px이상 설정 */
@media (min-width:768px) {

    /* 레이아웃설정 */

    /* 박스3-1 설정 */
    
    .box3-1 p{position: absolute;
            color: #fff;
            top: 350px;}

    /* 박스3-3-1,박스3-3-2,박스3-3-3 가로정렬*/
    .box3-3 {display: flex;
        justify-content: space-around;}
    .box3-3>div {width: 32%;}

    /* 박스 5-3-1,박스5-3-2 가로정렬 */
    .box5-3 {display: flex;}
    .box5-3>div {width: 50%;}

    /* 박스 4-2-1, 박스4-2-2 가로정렬 */
    .box4-2 {display: flex;}
    .box4-2>div {width: 50%;}

    /* 박스 6-3-1, 박스6-3-2 가로정렬 */
    .box7-3 {display: flex;}
    .box7-3>div {width: 50%;}


    /* 박스 5-2 가로정렬 */
    .box5-2 {}
    .box5-2 ul {}
    .box5-2 li {}


    /* 박스5-5 가로정렬 */
    .box5-5 {}
    .box5-5 ul {display: flex;
                justify-content: center;}
    .box5-5 li {}

    
    /* 박스 6-2 공지 세로정렬 */
    .box6-2 {}
    .box6-2 ul {}
    .box6-2 li {}
    .box6-2 li a {margin: 30px;}
    .box6-2> {text-align: right;}
